header div img {
    width: 95%;
    height: 450px;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-top: -20%;
    color: #fff;
    font-size: 10vw;
}

section {
    margin: 20px;
    width: 95%;
    height: 324px;
    background-color: lightblue;
}

.header-contact-information {
    display: flex;
    justify-content: space-evenly;
}

.contact-options {
    margin-top: px;
    display: flex;
    justify-content: space-evenly;
}

.social-media li {
    list-style-type: none;
}